default: &default
      adapter: postgresql
      encoding: unicode
      pool: 5
      username: postgres
      password: password
      host:     <%= ENV['IP'] %>

development:
  <<: *default
  database: movie_development

test:
  <<: *default
  database: movie_test

production:
  <<: *default
  database: movie_production
