.picture{
    height: 200px;
    width: 200px;
    margin-left: 13%;
    border-radius: 10%;
    border: 4px solid rgb(0, 0, 0);
    z-index: 1;
    margin-top:30px; 
    margin-bottom:20px; 
  
}


.image{
    height: 150px;
    width: 150px;
    
    border-radius: 30%;
 
  
}

.details{
    text-align: left;
    margin-left: 10%;
    
}